.creatingo_search .tl_text {
    width: 150px;
}

.creatingo {
    padding-bottom: 30px;
}
.creatingo_item_list {
    padding: 13px 15px 3px 15px;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.creatingo_item_list li {
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    margin-left: 10px;
    width: 350px;
    padding: 5px;
    margin-bottom: 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.creatingo_item_list li:nth-of-type(2n+1) {
    margin-left: 0;
}

.creatingo_item_list h3 {
    margin: 0 0 5px 0;
    color: #77ac45;
}

.creatingo_item_list .thumbnail {
    width: 80px;
    min-height: 80px;
    float: left;
}

.creatingo_item_list .thumbnail img {
	border: 1px solid #ddd;
    max-width: 100%;
}

.creatingo_item_list .content {
    width: 248px;
	height: 100%;
	position:relative;
    float: left;
    margin-left: 10px;
}
.creatingo_item_list .content a{
	position:absolute;
    bottom: 5px;
}

.creatingo_pagination.top {
    padding: 20px 16px 0;
    text-align: right;
}

.creatingo_pagination.bottom {
    padding: 0 16px;
    text-align: right;
}

.creatingo_pagination:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.creatingo_pagination li {
    display: inline-block;
}

.creatingo_pagination button {
	font-size: 0.75rem;
	color: #555;
    border: 1px solid #aaa;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
    background: #eee;
    background-image: linear-gradient(to top,#ccc 0,#eee 60%);
    padding: 3px 6px;
	cursor: pointer;
}

.creatingo_pagination button.active {
    background: #84c84c;
    border-color: #77ac45;
    color: #fff;
}

.creatingo_pagination button:hover, .creatingo_pagination button:focus {
    box-shadow: 0 0 3px #aaa;
}


.creatingo_pagination {
    padding: 30px 16px 0;
    text-align: right;
}

.creatingo_pagination li {
    display: inline-block;
}

.creatingo_pagination button {
    border: 1px solid #aaa;
    background: #eee;
    background-image: linear-gradient(to top,#ccc 0,#eee 60%);
    padding: 3px 6px;
}

.creatingo_pagination button.active {
    background: #77ac45;
    border-color: #51752F;
    color: #fff;
}

.creatingo_credits {
    background: url('../../../../themes/default/images/show.gif') no-repeat left center;
    padding: 5px 0 5px 18px;
    margin-left: 15px;
}

.creatingo_item_list .metadata {
    width:100%;
	margin-bottom: 35px;
}

.creatingo_item_list .metadata th{
    width: 70px;
	vertical-align:top;
    font-weight: normal;
}

.creatingo_item_list .purchase {
    background: #bff77c;
	border-color: #9ddc52;
}

.creatingo_item_list .installed {
    color: #999;
	border-color: #bbb;
}

.cc_info {
    padding: 0px 20px 10px 20px;
}

.cc_info table {
    margin-bottom: 25px;
}

.cc_info th {
    padding-right: 10px;
}

@media(min-width:1200px) {
    .creatingo_item_list.flexible li{width:290px}
	.creatingo_item_list.flexible li:nth-of-type(2n+1) {margin-left:10px}
    .creatingo_item_list.flexible li:nth-of-type(3n+1) {margin-left:0}
	.creatingo_item_list.flexible .content {width: 188px;}
}

@media(max-width:768px) {
    .creatingo_item_list.flexible li{width:48%;margin-left:2%}
	.creatingo_item_list.flexible .thumbnail {width: 35%;min-height: 35%;}
	.creatingo_item_list.flexible .content {width: 63%;margin-left:2%}
}

@media(max-width:620px) {
    .creatingo_item_list.flexible li{width:100%;float:none; display:block;margin-left:0 !important;margin-right:0 !important}
	.creatingo_item_list.flexible .thumbnail {width: 25%;min-height: 25%;}
	.creatingo_item_list.flexible .content {width: 70%;margin-left:5%}
}